# dependencies
node_modules/

# builds
.next/
out/
dist/
build/

# hardhat
artifacts/
cache/
web/src/contracts/demo-wallets.json

# coverage
coverage/

# env
.env
.env.*
!.env.example

# misc
*.tsbuildinfo
.DS_Store